<div class="container">
  <div class="card mx-auto mt-5 custom-card">
    <div class="card-body">
      <form (ngSubmit)="submit()">
        <div class="form-group row">
          <label for="inputCode" class="col-sm-3 col-form-label">Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputCode" [(ngModel)]="code" name="inputCode" maxlength="12" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputUnitsSold" class="col-sm-3 col-form-label">Units sold</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="inputUnitsSold" [(ngModel)]="unitsSold" name="inputUnitsSold" maxlength="20" required>
          </div>
        </div>   
        <div class="form-group row">
          <label for="inputUnitsAvailable" class="col-sm-3 col-form-label">Units available</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="inputUnitsAvailable" [(ngModel)]="unitsAvailable" name="inputUnitsAvailable" required>
          </div>
        </div>     

        <div class="col text-center">
          <button class="btn btn-dark" type="submit">SUBMIT</button>
        </div>

      </form>      

      <div class="mt-4 col text-center" *ngIf="respondeSuccess">
        <span class="alert alert-success" role="alert">Stock Saved</span>
      </div>

      <div class="mt-4 col text-center" *ngIf="respondeFail">
        <span class="alert alert-danger" role="alert">sorry, an unexpected error occurred, please try again</span>
      </div>

    </div>
  </div>
</div>