<div class="container">
  <div *ngIf="!existStocks" class="mx-auto mt-5 text-center">
    <span class="alert alert-warning">no stock found, please create a stock first</span>
  </div>

  <div class="card mx-auto mt-5 custom-card" *ngIf="existStocks">
    <div class="card-body">
      <form (ngSubmit)="saveItem()">
        <div class="form-group row">
          <label for="inputCode" class="col-sm-3 col-form-label">Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputCode" [(ngModel)]="code" name="inputCode" maxlength="12" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName" [(ngModel)]="name" name="inputName" maxlength="20" required>
          </div>
        </div>   
        <div class="form-group row">
          <label for="inputAmount" class="col-sm-3 col-form-label">amount</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="inputAmount" [(ngModel)]="amount" name="inputAmount" required>
          </div>
        </div>     
        <div class="form-group row">
          <label for="inputInventoryCode" class="col-sm-3 col-form-label">Inventory code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputInventoryCode" [(ngModel)]="inventoryCode" name="inputInventoryCode" required>
          </div>
        </div>     
        <div class="form-group row">
          <label for="inputInventoryCode" class="col-sm-3 col-form-label">Stock</label>
          <div class="dropdown col-sm-9">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf="stockCode">{{stockCode}}</span>
              <span *ngIf="!stockCode">Select Stock</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="stockId = stock.id; stockCode = stock.code" *ngFor="let stock of stocks">
                {{stock.code}}
              </a>
            </div>
          </div>
        </div> 

        <div class="col text-center">
          <button class="btn btn-dark" type="submit">SUBMIT</button>
        </div>

      </form>      

      <div class="mt-4 col text-center" *ngIf="respondeSuccess">
        <span class="alert alert-success" role="alert">Item Saved</span>
      </div>

      <div class="mt-4 col text-center" *ngIf="respondeFail">
        <span class="alert alert-danger" role="alert">sorry, an unexpected error occurred, please try again</span>
      </div>

    </div>
  </div>
</div>